.App {
  background: #ffebc8;
}
.App-header {
  width: 98%;
  text-align: center;
  margin: auto;
  height: 120px;
}
.App-header h1, .App-header h2, .App-header h3, .App-header h4 {
  padding: 10px 0px;
  margin-top: 0;
}

.mainApp {
  width: 100%;
  margin:  auto;
  text-align: center;
}

.data-source-textarea {
  width: 100%;
  height: calc((100vh - 120px)/3);
}

.graphql-textarea {
  width: 49%;
  height: calc((100vh - 120px)/1.5);
}

.output-textarea {
  width: 49%;
  height: calc((100vh - 120px)/1.5);
}